.cover__background {
  background-color: #2A2C2F;
  opacity: .3;
  transition: .17s linear;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.cover__background:hover {
  opacity: .8;
}
